<div class="bg-light">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div
                    style="background-color: #204d74;"
                    class="card-header text-white text-center">
                        <h1>Bienvenido al Sistema de Control</h1>
                    </div>
                    <div class="card-body">
                        <h4 class="text-center mb-4 text-secondary">Gobierno Autónomo Municipal de El Alto</h4>
                        <p class="text-justify">
                            ¡Bienvenido al Sistema de Control de Hojas de Derivaciones! Este sistema ha sido desarrollado
                            para facilitar la gestión y el seguimiento de documentos en los diferentes procesos administrativos
                            de la ciudad de El Alto. Aquí, podrás gestionar eficientemente el flujo de derivaciones, asegurando
                            que cada solicitud sea atendida en tiempo y forma, mejorando la transparencia y accesibilidad.
                        </p>
                        <p class="text-justify">
                            Nuestro sistema permite a los usuarios rastrear y administrar las derivaciones desde su recepción
                            hasta su resolución final, asegurando que cada trámite cumpla con los estándares de control y 
                            seguimiento necesarios para la eficiencia operativa. Con una interfaz intuitiva y amigable, podrás 
                            acceder a las herramientas que necesitas para gestionar de manera desconcentrada y participativa 
                            las hojas de derivaciones, garantizando así el bienestar de los ciudadanos.
                        </p>
                      
                       
                    </div>
                    <div class="card-footer text-muted text-center">
                        <small>Gobierno Autónomo Municipal de El Alto &copy; 2024</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>