<div class="card">
  <div class="card-body">
    <form [formGroup]="formulario">
      <!-- Sección de Documento -->
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-2">DOCUMENTO</legend>
        <div class="row">
          <div class="col-md-6">
            <label for="referencia" class="form-label">Referencia</label>
            <textarea
            id="referencia"
            formControlName="referencia"
            class="form-control" rows="2" placeholder="REF. DOCUMENTO" required></textarea>
          </div>
          <div class="col-md-6">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea
            id="descripcion"
            formControlName="descripcion"
            class="form-control" rows="2" placeholder="DESCRIBIR CONTENIDO" required></textarea>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label for="observacion" class="form-label">Observación</label>
            <textarea
            id="observacion"
            formControlName="observacion"
            class="form-control" rows="2" placeholder="¿EXISTE ALGUNA OBSERVACIÓN?"></textarea>
          </div>
          <div class="col-md-6">
            <label for="cite" class="form-label">CITE</label>
            <input type="text"
            id="cite"
            formControlName="cite"
            class="form-control" placeholder="EJEMPLO: SMAF/DA/US/RETY/054/2021" required>
          </div>
        </div>
      </fieldset>

      <!-- Sección de Categoría y Tipo de Documento -->
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-2">Categoría y Tipo de Documento</legend>
        <div class="row">
          <!-- Sección de Categoría -->
          <div class="col-md-6">
            <label for="categoria" class="form-label">Categoría</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Urgente" formControlName="categoria" required>
              <label class="form-check-label" for="urgente">Urgente</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Prioritario" formControlName="categoria" required>
              <label class="form-check-label" for="prioritario">Prioritario</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" value="Rutinario" formControlName="categoria" required checked>
              <label class="form-check-label" for="rutinario">Rutinario</label>
            </div>
          </div>

          <!-- Desplegable para Tipo de Documento -->
          <div class="col-md-6">
            <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
            <select id="tipoDocumento" formControlName="tipoDocumento" class="form-select"  required>
              <option value="" disabled selected>Seleccione un tipo de documento</option>
              <option value="REGISTROVISADO">Registro Visado de Plano de DDRR</option>
              <option value="VENTANILLA UNICA">Ventanilla Única</option>
              <option value="NOTAS EJECUTIVO">Notas al Ejecutivo</option>
              <option value="PETICION INFORME">Petición de Informe Escrito</option>
              <option value="REGISTRO CATASTRO">Registro de Catastro</option>
              <option value="REGISTRO PLANO CONSTRUCCION">Registro Plano de Construcción</option>
              <option value="REGISTRO COMUN">Registro Común</option>
            </select>
          </div>

        </div>
      </fieldset>

      <!-- Sección de Subir Archivos -->
      <fieldset class="border p-3 mb-3">
        <legend class="w-auto px-2">SUBIR ARCHIVOS</legend>
        <p>Nota: Los archivos deben estar en formato PDF y no deben pesar más de 2MB.</p>
        <input 
        type="file" 
        id="archivo"
        (change)="subirArchivo($event)" 
        >
        <!-- (change)="subirArchivo($event.target.files)" -->
        <!-- <button class="btn btn-success" (click)="subirArchivo()">
          <i class="fas fa-upload"></i> Subir Archivo
        </button> -->
      </fieldset>

      <!-- Botones de acción -->
      <div class="d-flex justify-content-end">
        <button class="btn btn-secondary me-2" (click)="  this.onClose();">Cancelar</button>
        <button 
        class="btn btn-primary"
        (click)="onSubmit()"
        >Aceptar</button>
      </div>
    </form>
  </div>
</div>

