<!-- SI O SI AQUI  -->

<div style="display: flex;">
    <aside id="sidebar">
        <div class="d-flex">
            <button
                class="toggle-btn"
                type="button"
            >
                <i class="lni lni-grid-alt"></i>
            </button>
            <div class="sidebar-logo">
                <a href="#">SADM-6</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a
                    [routerLink]="bandeja.link"
                    class="sidebar-link"
                >
                    <i [class]="bandeja.icon"></i>
                    <span>{{ bandeja.label }}</span>
                    <span
                        *ngIf="bandeja.badge"
                        class="badge"
                    >
                        {{ bandeja.badge }}
                    </span>
                </a>
            </li>
            <li class="sidebar-item" 
            *ngIf="this.idPeronas == 1"
            >
                <a
                    [routerLink]="correspondencia.link"
                    class="sidebar-link"
                >
                    <i [class]="correspondencia.icon"></i>
                    <span>{{ correspondencia.label }}</span>
                    <span
                        *ngIf="correspondencia.badge"
                        class="badge"
                    >
                        {{ correspondencia.badge }}
                    </span>
                </a>
            </li>
            <li class="sidebar-item" 
          
            >
                <a
                    [routerLink]="control.link"
                    class="sidebar-link"
                >
                    <i [class]="control.icon"></i>
                    <span>{{ control.label }}</span>
                    <span
                        *ngIf="control.badge"
                        class="badge"
                    >
                        {{ control.badge }}
                    </span>
                </a>
            </li>
            <li class="sidebar-item" 
            *ngIf="this.idPeronas == 1"
            >
                <a
                    [routerLink]="persona.link"
                    class="sidebar-link"
                >
                    <i [class]="persona.icon"></i>
                    <span>{{ persona.label }}</span>
                    <span
                        *ngIf="persona.badge"
                        class="badge"
                    >
                        {{ persona.badge }}
                    </span>
                </a>
            </li>
            <li class="sidebar-item" 
            *ngIf="this.idPeronas == 1"
            >
            <a
            [routerLink]="reportes.link"
            class="sidebar-link"
        >
            <i [class]="reportes.icon"></i>
            <span>{{ reportes.label }}</span>
            <span
                *ngIf="reportes.badge"
                class="badge"
            >
                {{ reportes.badge }}
            </span>
        </a>
            </li>
            

          <div class="sidebar-footer">
            <a
                href="#"
                class="sidebar-link"
            >
                <i class="lni lni-exit"></i>
                <span>Salir</span>
            </a>
        </div>
        </ul>
    </aside>
    <div style="width: 100%; ">
        <app-cabezera></app-cabezera>
        <div style="
        height: calc(100vh - 60px);
        Width: 100%;
        overflow: auto;
       ">
        <router-outlet></router-outlet>
        </div>
    </div>
</div>


