<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card"> 
                <div class="card-body"> 
                        <div class="col-12">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">ACCIONES</th>
                                        <th scope="col">CODIGO</th>
                                        <th scope="col">ACCION</th>
                                        <th scope="col">REMITENTE</th>
                                        <th scope="col">FECHA DE DERIVACION</th>
                                        <th scope="col">PLAZO (horas)</th>
                                        <th scope="col">FECHA LIMITE</th>
                                        <th scope="col">PROVEIDO</th>
                                        <th scope="col">OBSERVACION</th>
                                        <th scope="col">HISTORIAL</th>
                                        <th scope="col">MAS DETALLES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr>
                                        <th scope="row"><button class="btn btn-success"></button></th>
                                        <td>
                                            <div class="container">
                                                <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Acciones <span class="caret"></span>
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#"><i class="bi bi-check-circle-fill"></i> Concluir Hoja de Ruta</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-arrow-right-circle-fill"></i> Derivacion Externa</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Derivacion Interna</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Remitir</a>
                                                  </div>
                                                </div>
                                              </div>
                                        </td>
                                        <td>GAMEA-4045-2024 ORIGINAL</td>
                                        <td>DERIVADA</td>
                                        <td>
                                              <div class="container-fluid d-flex justify-content-center">
                                                    <button type="button" class="btn btn-remitente">
                                                        <div class="icon-remitente">
                                                            <i class="bi bi-person"></i>
                                                        </div>
                                                        <span>Remitente</span>
                                                    </button>
                                                </div>
                                        </td>
                                        <td>29-07-2024 13:54</td>
                                        <td>1 (dias) 24 horas</td>
                                        <td>30-07-2024 13:54:38</td>
                                        <td>Para su gentil atención</td>
                                        <td> </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-his">
                                                    <div class="icon-text-container">
                                                        <i class="bi bi-file-earmark-text icon-his"></i>
                                                        <span>Ver</span>
                                                    </div>
                                                    <div class="text-his">
                                                        <span>Historial</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-mas">
                                                    <div class="icon-text-mas">
                                                        <i class="bi bi-file-earmark-text icon-mas"></i>
                                                        <span>Ver Historial</span>
                                                    </div>
                                                    
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <th scope="row"><button class="btn btn-success"></button></th>
                                        <td>
                                            <div class="container">
                                                <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Acciones <span class="caret"></span>
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#"><i class="bi bi-check-circle-fill"></i> Concluir Hoja de Ruta</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-arrow-right-circle-fill"></i> Derivacion Externa</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Derivacion Interna</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Remitir</a>
                                                  </div>
                                                </div>
                                              </div>
                                        </td>
                                        <td>GAMEA-4045-2024 ORIGINAL</td>
                                        <td>DERIVADA</td>
                                        <td>
                                              <div class="container-fluid d-flex justify-content-center">
                                                    <button type="button" class="btn btn-remitente">
                                                        <div class="icon-remitente">
                                                            <i class="bi bi-person"></i>
                                                        </div>
                                                        <span>Remitente</span>
                                                    </button>
                                                </div>
                                        </td>
                                        <td>29-07-2024 13:54</td>
                                        <td>1 (dias) 24 horas</td>
                                        <td>30-07-2024 13:54:38</td>
                                        <td>Para su gentil atención</td>
                                        <td> </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-his">
                                                    <div class="icon-text-container">
                                                        <i class="bi bi-file-earmark-text icon-his"></i>
                                                        <span>Ver</span>
                                                    </div>
                                                    <div class="text-his">
                                                        <span>Historial</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-mas">
                                                    <div class="icon-text-mas">
                                                        <i class="bi bi-file-earmark-text icon-mas"></i>
                                                        <span>Ver Historial</span>
                                                    </div>
                                                    
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                   
                                    <tr>
                                        <th scope="row"><button class="btn btn-success"></button></th>
                                        <td>
                                            <div class="container">
                                                <div class="dropdown">
                                                  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Acciones <span class="caret"></span>
                                                  </button>
                                                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="#"><i class="bi bi-check-circle-fill"></i> Concluir Hoja de Ruta</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-arrow-right-circle-fill"></i> Derivacion Externa</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Derivacion Interna</a>
                                                    <a class="dropdown-item" href="#"><i class="bi bi-download"></i> Remitir</a>
                                                  </div>
                                                </div>
                                              </div>
                                        </td>
                                        <td>GAMEA-4045-2024 ORIGINAL</td>
                                        <td>DERIVADA</td>
                                        <td>
                                              <div class="container-fluid d-flex justify-content-center">
                                                    <button type="button" class="btn btn-remitente">
                                                        <div class="icon-remitente">
                                                            <i class="bi bi-person"></i>
                                                        </div>
                                                        <span>Remitente</span>
                                                    </button>
                                                </div>
                                        </td>
                                        <td>29-07-2024 13:54</td>
                                        <td>1 (dias) 24 horas</td>
                                        <td>30-07-2024 13:54:38</td>
                                        <td>Para su gentil atención</td>
                                        <td> </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-his">
                                                    <div class="icon-text-container">
                                                        <i class="bi bi-file-earmark-text icon-his"></i>
                                                        <span>Ver</span>
                                                    </div>
                                                    <div class="text-his">
                                                        <span>Historial</span>
                                                    </div>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="container-fluid d-flex justify-content-center">
                                                <button type="button" class="btn btn-mas">
                                                    <div class="icon-text-mas">
                                                        <i class="bi bi-file-earmark-text icon-mas"></i>
                                                        <span>Ver Historial</span>
                                                    </div>
                                                    
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                   
                                 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

