<app-form-derivacion></app-form-derivacion>

<div class="container backgroud-cards" style="margin-top: 30px;">
  <div class="d-flex">
    <h1 class="display-4">Mis Correspondencias</h1>
  </div>

  <div class="container">
    <ng-container *ngFor="let correspondence of correspondencias">
      <div class="card mb-3" style="width: auto;">
        <div class="card-header">
          <div class="row">
            <!-- Columna de títulos -->
            <div class="col-md-5">
              <div class="d-flex align-items-center justify-content-between">
                <div class="letter-image">
                  <div class="animated-mail">
                    <div class="back-fold"></div>
                    <div class="letter">
                      <div class="letter-border"></div>
                      <div class="letter-title"></div>
                      <div class="letter-context"></div>
                      <div class="letter-stamp"></div>
                    </div>
                    <div class="top-fold"></div>
                    <div class="body"></div>
                    <div class="left-fold"></div>
                  </div>
                  <div class="shadow"></div>
                </div>
                <span class="card-header-text">{{ correspondence.codigo_interno }}</span>
              </div>
            </div>
            <!-- Columna 2: Botones -->
            <div class="col-md-3 btn-container">
              <button type="button" class="btn btn-outline-light d-flex flex-column align-items-center" 
                (click)="getRemitente(correspondence)"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-person-circle small-icono-btn fs-4"></i>
                <span>Remitente</span>
              </button>
              <button class="btn btn-outline-light" type="button" 
                (click)="toggleCollapse(correspondence)">
                <i class="bi bi-gear small-icono-btn fs-4"></i>
                <span>Acciones</span>
              </button>
              <button class="btn btn-outline-light" 
                (click)="toggleDetails(correspondence)">
                <i class="bi bi-envelope-paper fs-4"></i> Ver Más
              </button>
            </div>
            <!-- Columna 3: Información -->
            <div class="col-md-4 d-flex flex-column align-items-start">
              <div class="d-flex align-items-center mb-2">
                <strong style="font-size: 0.7rem;">
                  <i class="bi bi-hourglass small-icon me-1"></i> PLAZO (Días): {{ correspondence.historial?.plazo_dias }}
                </strong>
              </div>
              <div class="d-flex align-items-center mb-2">
                <strong class="badge bg-warning" style="font-size: 0.7rem;">
                  <i class="bi bi-calendar-check small-icon me-1"></i> FECHA LÍMITE: {{ correspondence.historial?.fecha_derivacion | date: 'dd/MM/yyyy' }}
                </strong>
              </div>
              <div class="d-flex align-items-center">
                <strong style="font-size: 0.7rem;">
                  <i class="bi bi-arrow-right-circle small-icon me-1"></i> FECHA DERIVACIÓN: {{ correspondence.fec_mod | date: 'dd/MM/yyyy' }}
                </strong>
              </div>
            </div>
          </div>
        </div>
        <!-- Contenido colapsable con botones centrados -->
        <div *ngIf="!correspondence.isCollapsed">
          <div class="d-flex justify-content-center py-3">
            <button type="button" class="btn btn-outline-light mx-2 btn-small-text"
              (click)="derivar(correspondence)">
              <i class="bi bi-box-arrow-up-right fs-6"></i> <span class="btn-text">DERIVAR</span>
            </button>
            <button type="button" class="btn btn-outline-light mx-2 btn-small-text"
              (click)="concluir(correspondence)"
            >
              <i class="bi bi-box-arrow-down fs-6"></i> <span class="btn-text">CONCLUIR</span>
            </button>
          </div>
        </div>
      </div>

      <!-- Detalles externos a la tarjeta -->
      <div class="details-container mb-3" [ngClass]="{'d-none': !correspondence.showDetails}" style="background-color: transparent; border: none;">
        <div class="table-responsive">
          <table class="table table-hover mb-3 w-100 text-center custom-font fs-7">
            <thead>
              <tr>
                <th scope="col" style="width: 33%;"><strong><i class="bi bi-file-earmark-check fs-3"></i> PROVEIDO:</strong></th>
                <th scope="col" style="width: 34%;"><strong><i class="bi bi-info-circle fs-3"></i> DESCRIPCIÓN:</strong></th>
                <th scope="col" style="width: 33%;"><strong><i class="bi bi-link-45deg fs-3"></i> REFERENCIA:</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-wrap text-break">{{ correspondence.historial?.proveido }}</td>
                <td class="text-wrap text-break">{{ correspondence.descripcion }}</td>
                <td class="text-wrap text-break">{{ correspondence.referencia }}</td>
              </tr>
            </tbody>
            <thead>
              <tr>
                <th scope="col" style="width: 33%;"><strong><i class="bi bi-file-text fs-3"></i> OBSERVACIÓN:</strong></th>
                <th scope="col" style="width: 34%;"><strong><i class="bi bi-buildings fs-3"></i> CITE:</strong></th>
                <th scope="col" style="width: 33%;"><strong><i class="bi bi-box-arrow-up-right fs-3"></i> ACCIÓN:</strong></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-wrap text-break">{{ correspondence.observacion }}</td>
                <td class="text-wrap text-break">{{ correspondence.cite }}</td>
                <td class="text-wrap text-break">{{ correspondence.estado }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center gap-2">
          <button class="btn btn-info" style="background-color: rgba(23, 162, 184, 0.5); border-color: rgba(23, 162, 184, 0.5); color: white;">
            <i class="bi bi-file-earmark-pdf-fill"> Ver Documento</i>
          </button>
          <button class="btn btn-info" style="background-color: rgba(23, 162, 184, 0.5); border-color: rgba(23, 162, 184, 0.5); color: white;" 
            (click)="showHistorial(correspondence)">
            <i class="bi bi-file-earmark-pdf-fill"> Ver Historial</i>
          </button>
        </div>
      </div>

      <!-- Historial Modal -->
      <div class="modal fade" id="historialModal" aria-labelledby="historialModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content custom-modal-content">
            <div class="modal-header py-0">
              <h5 class="modal-title" id="historialModalLabel"><i class="bi bi-file-earmark-text"></i> Historial de Correspondencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Contenido del historial comentado para personalización -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  
  <!-- Remitente Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-start">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <img src="../../../../../app/USUARIO.png" class="rounded-circle mb-3" alt="Imagen del perfil" style="width: 100px; height: 100px;">
          <h5 class="fw-bold text-success">
            {{selectedPersona?.nombres}} {{selectedPersona?.apellidos}}
          </h5>
          <hr>
          <p><strong><i class="bi bi-building icono icono-dependencia"></i> DEPENDENCIA:</strong> SUB ALCALDIA DISTRITO MUNICIPAL-6</p>
          <p><strong><i class="bi bi-person-badge icono icono-cargo"></i> CARGO:</strong> {{selectedPersona?.cargo}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
