@keyframes beginani {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.gradient-container {
  display: flex;
  margin: 0;
  height: auto;
  min-height: 100%;
  font-family: "Helvetica", sans-serif;
  background-image: linear-gradient(140deg, #2c3e50, #27ae60, #2980b9, #e74c3c, #8e44ad);
  background-size: 400%;
  animation: beginani 15s infinite;
}

/* Estilo general para los botones no seleccionados */
.nav-tabs .nav-link {
  color: white; /* Color blanco para el texto */
  background-color: transparent; /* Fondo transparente */
  border: 1px solid transparent; /* Borde transparente */
  transition: color 0.3s ease, background-color 0.3s ease; /* Transiciones suaves */
}

/* Estilo para el botón seleccionado */
.nav-tabs .nav-link.active {
  color: black; /* Color negro para el texto */
  background-color: #f8f9fa; /* Fondo claro (puedes personalizarlo) */
  border-color: #dee2e6 #dee2e6 #f8f9fa; /* Borde al seleccionarse */
}

/* Efecto hover para los botones */
.nav-tabs .nav-link:hover {
  color: #ccc; /* Color gris claro al pasar el mouse */
  background-color: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
}

