<div class="gradient-container">
  <div class="container mt-5">
      <!-- Fila 1 -->
      <div class="row justify-content-center mb-4">
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-1">
                  <!-- Cuerpo de la tarjeta -->
                  <div class="card-body">  
                    <span>TOTAL CORRESPONDENCIA ACEPTADA</span>
                    <span class="total-number">150</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>

                  <!-- Botón transparente en la parte inferior -->
                  <div class="card-footer">
                      <button (click)="verMasInformacion(1)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
          <!-- Repite las columnas para las demás tarjetas -->
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-2">
                   <!-- Cuerpo de la tarjeta -->
                   <div class="card-body">
                    <span>TOTAL CORRESPONDENCIA REMITIDA</span>
                    <span class="total-number">200</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <div class="card-footer">
                      <button (click)="verMasInformacion(2)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-3">
                  <!-- Cuerpo de la tarjeta -->
                  <div class="card-body">
                    <span>TOTAL CORRESPONDENCIA CONCLUIDA</span>
                    <span class="total-number">500</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <div class="card-footer">
                      <button (click)="verMasInformacion(3)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
      </div>

      <!-- Fila 2 -->
      <div class="row justify-content-center">
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-4">
                  <!-- Cuerpo de la tarjeta -->
                  <div class="card-body">
                    <span>TOTAL CORRESPONDENCIA FUERA DE PLAZO</span>
                    <span class="total-number">23</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <div class="card-footer">
                      <button (click)="verMasInformacion(4)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-5">
                   <!-- Cuerpo de la tarjeta -->
                   <div class="card-body">
                    <span>TOTAL CORRESPONDENCIA GAMEA</span>
                    <span class="total-number">21</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <div class="card-footer">
                      <button (click)="verMasInformacion(5)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
          <div class="col-md-4 d-flex justify-content-center">
              <div class="card bg-transparent card-6">
                   <!-- Cuerpo de la tarjeta -->
                  <div class="card-body">
                    <span>TOTAL CORRESPONDENCIA DERIVADAS</span>
                    <span class="total-number">36</span>
                    <span class="icon">
                        <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                  <div class="card-footer">
                      <button (click)="verMasInformacion(6)" class="btn btn-transparent">Más Información</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>