
<div class="container row">
  <div >
    <h2>GENERA REPORTE</h2>
    <br>
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="generarReporte(fechaInicio,fechaFin)">
          <div class="form-group">
            <label for="fechaInicio">Fecha Inicio</label>
            <input type="date" class="form-control" id="fechaInicio" [(ngModel)]="fechaInicio" name="fechaInicio">
          </div>
          <div class="form-group">
            <label for="fechaFin">Fecha Fin</label>
            <input type="date" class="form-control" id="fechaFin" [(ngModel)]="fechaFin" name="fechaFin">
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-primary">Buscar</button>
          <button type="button" class="btn btn-secondary ml-2" (click)="limpiar()">Limpiar</button>
        </form>
      </div>
    </div>
    <br>

<div id="htmlDatas" class="container">

  <div class="text-center my-4">
    <div class="d-flex justify-content-between align-items-center">
        <img src="assets/LOGO1.jpg" alt="Logo Izquierdo" style="max-width: 150px;">
        <div>
            <h3 class="fw-bold text-uppercase">Reporte Hojas de Ruta Derivadas</h3>
            <p class="mb-0">A: Jose Luis Huanca Mamani</p>
            <p class="mb-0">De Fecha: 2023-02-01 18:59 A: 2024-11-17 18:59</p>
        </div>
        <img src="assets/LOGO2.jpg" alt="Logo Derecho" style="max-width: 150px;">
    </div>
</div>
<div class="text-center">
    <p class="mt-4">
        EN EL PRESENTE DOCUMENTO SE DETALLAN 0 HOJA(S) DE RUTA ASIGNADA(S) POR EL (LA) FUNCIONARIO(A): 
        HUASCAR ANDREUS VEGA QUIROGA, AL (LA) FUNCIONARIO(A): Jose Luis Huanca Mamani ES ASIGNADO EN 
        FECHA: 2024-11-17 18:58:21 PARA SEGUIR CON LAS RESPECTIVA(S) PROSECUCIÓN(ES) DEL(LOS) TRÁMITE(S).
    </p>
</div>
        
    <div class="d-flex justify-content-between">
        <span class="fw-bold">Reporte Generado por: {{name}} 
          </span>
      
        <span class="fw-bold">Fecha Inicio: {{fechaInicio | date: 'dd/MM/yyyy'}} 
          </span>
          <span class="fw-bold">
            Fecha Fin: {{fechaFin | date: 'dd/MM/yyyy'}}
          </span>
    </div>

        <table class="table table-bordered mt-4">
          <thead class="table-primary">
            <tr>

              <th scope="col">codigo_interno</th>
              <th scope="col">estado</th>
              <th scope="col">fec_cre</th>
              <th scope="col">obs</th>
              <th scope="col">cite</th>
              <th scope="col">nombre_completo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of VIDEOGAMES">
              <td>{{game.codigo_interno}}</td>
              <td>{{game.estado}}</td>
              <td>{{game.fec_cre | date:'dd/MM/yyyy'}}</td>
              <td>{{game.obs}}</td>
              <td>{{game.cite}}</td>
              <td>{{game.nombre_completo}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  <div>
    <button class="btn col col-lg-4 btn-danger btn-block m-3" (click)="downloadPDF()">GENERAR</button>
  </div>